In [ ]:
!pip install mysql-connector-python pandas snowflake-connector-python python-dotenv

In [ ]:
pip install --upgrade pip

In [3]:
import pandas as pd
import mysql.connector
import snowflake.connector
from dotenv import load_dotenv
import os

In [5]:
import mysql.connector
print("MySQL connector installed successfully!")

MySQL connector installed successfully!

In [ ]:

connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="*******",
    database="my_db_etl",
    port=3306
)

query = "SELECT * FROM airbnb;"
df = pd.read_sql(query, connection)
print(df.dtypes)

id                                object
name                              object
host_id                           object
host_identity_verified            object
host_name                         object
neighbourhood_group               object
neighbourhood                     object
lat                               object
long                              object
country                           object
country_code                      object
instant_bookable                  object
cancellation_policy               object
room_type                         object
construction_year                 object
price                             object
service_fee                       object
minimum_nights                    object
number_of_reviews                 object
last_review                       object
reviews_per_month                 object
review_rate_number                object
calculated_host_listings_count    object
availability_365                  object
house_rules                       object
license                           object
dtype: object

C:\Users\JOKER\AppData\Local\Temp\ipykernel_12596\2803908210.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

In [11]:
df

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,...,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10,9,10/19/2021,0.21,4,6,286,Clean up and treat the home the way you'd like...,
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30,45,5/21/2022,0.38,4,2,228,Pet friendly but please confirm with me if the...,
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,,Elise,Manhattan,Harlem,40.80902,-73.9419,United States,...,$124,3,0,,,5,1,352,"I encourage you to use my kitchen, cooking and...",
3,1002755,,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30,270,7/5/2019,4.64,4,1,322,,
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10,9,11/19/2018,0.1,3,1,289,"Please no smoking in the house, porch or on th...",
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,1040549,SpaHa Loft: Enormous and Bright,27952493551,,Adelaide,Manhattan,East Harlem,40.80164,-73.93922,United States,...,$105,4,190,6/23/2019,1.64,4,1,,,
72,1041102,Lovely EV Artist's Home,90314634438,unconfirmed,Reid,Manhattan,East Village,40.72162,-73.98008,United States,...,$48,9,49,5/14/2018,0.43,3,1,,These are prohibited: -No Smoking -No Pets -No...,both guests and hosts will be considerate of ...
73,1041654,Cool Room in Hell's Kitchen,44843744875,verified,Charlie,Manhattan,Hell's Kitchen,40.76342,-73.98865,United States,...,$121,7,23,6/1/2019,0.43,3,1,,,
74,1042206,"HARLEM, NEW YORK WELCOMES YOU!!",98195975718,,Violet,,Washington Heights,40.83139,-73.94095,United States,...,$114,2,49,6/18/2019,1.6,2,2,,The usual courtesies apply: - No smoking - No ...,
75,1042759,BLUE TRIM GUEST HOUSE,4726877402,unconfirmed,Audrey,,Clinton Hill,40.68346,-73.96374,United States,...,$80,2,105,6/26/2019,0.92,1,1,,Shoes off please Cat can go in or out as he de...,

In [17]:
df.columns

Index(['id', 'name', 'host_id', 'host_identity_verified', 'host_name',
       'neighbourhood_group', 'neighbourhood', 'lat', 'long', 'country',
       'country_code', 'instant_bookable', 'cancellation_policy', 'room_type',
       'construction_year', 'price', 'service_fee', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'review_rate_number', 'calculated_host_listings_count',
       'availability_365', 'house_rules', 'license'],
      dtype='object')

In [23]:


columns_to_keep=[ 'name', 'host_id', 'host_identity_verified', 'host_name',
       'neighbourhood_group', 'neighbourhood', 'lat', 'long', 'country',
       'country_code', 'instant_bookable', 'cancellation_policy', 'room_type',
       'construction_year', 'price', 'service_fee', 'minimum_nights',
       'number_of_reviews', 'last_review']

In [25]:
df=df[columns_to_keep]

In [27]:
df

,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,country_code,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review
0,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,FALSE,strict,Private room,2020,$966,$193,10,9,10/19/2021
1,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,FALSE,moderate,Entire home/apt,2007,$142,$28,30,45,5/21/2022
2,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,,Elise,Manhattan,Harlem,40.80902,-73.9419,United States,US,TRUE,flexible,Private room,2005,$620,$124,3,0,
3,,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,TRUE,moderate,Entire home/apt,2005,$368,$74,30,270,7/5/2019
4,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,FALSE,moderate,Entire home/apt,2009,$204,$41,10,9,11/19/2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,SpaHa Loft: Enormous and Bright,27952493551,,Adelaide,Manhattan,East Harlem,40.80164,-73.93922,United States,US,FALSE,flexible,Entire home/apt,2017,$524,$105,4,190,6/23/2019
72,Lovely EV Artist's Home,90314634438,unconfirmed,Reid,Manhattan,East Village,40.72162,-73.98008,United States,US,FALSE,moderate,Entire home/apt,2019,$238,$48,9,49,5/14/2018
73,Cool Room in Hell's Kitchen,44843744875,verified,Charlie,Manhattan,Hell's Kitchen,40.76342,-73.98865,United States,US,FALSE,moderate,Private room,2017,$603,$121,7,23,6/1/2019
74,"HARLEM, NEW YORK WELCOMES YOU!!",98195975718,,Violet,,Washington Heights,40.83139,-73.94095,United States,US,TRUE,moderate,Private room,2011,$571,$114,2,49,6/18/2019
75,BLUE TRIM GUEST HOUSE,4726877402,unconfirmed,Audrey,,Clinton Hill,40.68346,-73.96374,United States,US,TRUE,strict,Private room,2014,$398,$80,2,105,6/26/2019

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.fillna(inplace=True)

In [31]:
df.isnull().sum()

name                      0
host_id                   0
host_identity_verified    0
host_name                 0
neighbourhood_group       0
neighbourhood             0
lat                       0
long                      0
country                   0
country_code              0
instant_bookable          0
cancellation_policy       0
room_type                 0
construction_year         0
price                     0
service_fee               0
minimum_nights            0
number_of_reviews         0
last_review               0
dtype: int64

In [33]:
df.isna().sum()

name                      0
host_id                   0
host_identity_verified    0
host_name                 0
neighbourhood_group       0
neighbourhood             0
lat                       0
long                      0
country                   0
country_code              0
instant_bookable          0
cancellation_policy       0
room_type                 0
construction_year         0
price                     0
service_fee               0
minimum_nights            0
number_of_reviews         0
last_review               0
dtype: int64

In [35]:
df.duplicated().sum()

0

In [37]:
new_col_names=[x.upper() for x in df.columns]

In [39]:
new_col_names

['NAME',
 'HOST_ID',
 'HOST_IDENTITY_VERIFIED',
 'HOST_NAME',
 'NEIGHBOURHOOD_GROUP',
 'NEIGHBOURHOOD',
 'LAT',
 'LONG',
 'COUNTRY',
 'COUNTRY_CODE',
 'INSTANT_BOOKABLE',
 'CANCELLATION_POLICY',
 'ROOM_TYPE',
 'CONSTRUCTION_YEAR',
 'PRICE',
 'SERVICE_FEE',
 'MINIMUM_NIGHTS',
 'NUMBER_OF_REVIEWS',
 'LAST_REVIEW']

In [43]:
df.columns=new_col_names

In [45]:
df

,NAME,HOST_ID,HOST_IDENTITY_VERIFIED,HOST_NAME,NEIGHBOURHOOD_GROUP,NEIGHBOURHOOD,LAT,LONG,COUNTRY,COUNTRY_CODE,INSTANT_BOOKABLE,CANCELLATION_POLICY,ROOM_TYPE,CONSTRUCTION_YEAR,PRICE,SERVICE_FEE,MINIMUM_NIGHTS,NUMBER_OF_REVIEWS,LAST_REVIEW
0,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,FALSE,strict,Private room,2020,$966,$193,10,9,10/19/2021
1,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,FALSE,moderate,Entire home/apt,2007,$142,$28,30,45,5/21/2022
2,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,,Elise,Manhattan,Harlem,40.80902,-73.9419,United States,US,TRUE,flexible,Private room,2005,$620,$124,3,0,
3,,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,TRUE,moderate,Entire home/apt,2005,$368,$74,30,270,7/5/2019
4,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,FALSE,moderate,Entire home/apt,2009,$204,$41,10,9,11/19/2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,SpaHa Loft: Enormous and Bright,27952493551,,Adelaide,Manhattan,East Harlem,40.80164,-73.93922,United States,US,FALSE,flexible,Entire home/apt,2017,$524,$105,4,190,6/23/2019
72,Lovely EV Artist's Home,90314634438,unconfirmed,Reid,Manhattan,East Village,40.72162,-73.98008,United States,US,FALSE,moderate,Entire home/apt,2019,$238,$48,9,49,5/14/2018
73,Cool Room in Hell's Kitchen,44843744875,verified,Charlie,Manhattan,Hell's Kitchen,40.76342,-73.98865,United States,US,FALSE,moderate,Private room,2017,$603,$121,7,23,6/1/2019
74,"HARLEM, NEW YORK WELCOMES YOU!!",98195975718,,Violet,,Washington Heights,40.83139,-73.94095,United States,US,TRUE,moderate,Private room,2011,$571,$114,2,49,6/18/2019
75,BLUE TRIM GUEST HOUSE,4726877402,unconfirmed,Audrey,,Clinton Hill,40.68346,-73.96374,United States,US,TRUE,strict,Private room,2014,$398,$80,2,105,6/26/2019

In [121]:
df['PRICE']=df['PRICE'].str.replace('$','')
df['PRICE']=df['PRICE'].str.replace(',','')
df['PRICE']=df['PRICE'].str.replace(' ','')

C:\Users\JOKER\AppData\Local\Temp\ipykernel_12596\338443855.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['PRICE']=df['PRICE'].str.replace('$','')
C:\Users\JOKER\AppData\Local\Temp\ipykernel_12596\338443855.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['PRICE']=df['PRICE'].str.replace(',','')
C:\Users\JOKER\AppData\Local\Temp\ipykernel_12596\338443855.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['PRICE']=df['PRICE'].str.replace(' ','')

In [123]:
df['SERVICE_FEE']=df['SERVICE_FEE'].str.replace('$','')
df['SERVICE_FEE']=df['SERVICE_FEE'].str.replace(',','')
df['SERVICE_FEE']=df['SERVICE_FEE'].str.replace(' ','')

C:\Users\JOKER\AppData\Local\Temp\ipykernel_12596\2413831123.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SERVICE_FEE']=df['SERVICE_FEE'].str.replace('$','')
C:\Users\JOKER\AppData\Local\Temp\ipykernel_12596\2413831123.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SERVICE_FEE']=df['SERVICE_FEE'].str.replace(',','')
C:\Users\JOKER\AppData\Local\Temp\ipykernel_12596\2413831123.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SERVICE_FEE']=df['SERVICE_FEE'].str.replace(' ','')

In [69]:
df.columns

Index(['NAME', 'HOST_ID', 'HOST_IDENTITY_VERIFIED', 'HOST_NAME',
       'NEIGHBOURHOOD_GROUP', 'NEIGHBOURHOOD', 'LAT', 'LONG', 'COUNTRY',
       'COUNTRY_CODE', 'INSTANT_BOOKABLE', 'CANCELLATION_POLICY', 'ROOM_TYPE',
       'CONSTRUCTION_YEAR', 'PRICE', 'SERVICE_FEE', 'MINIMUM_NIGHTS',
       'NUMBER_OF_REVIEWS', 'LAST_REVIEW', 'SERVICE_FEE\t'],
      dtype='object')

In [75]:
df.drop(columns=['SERVICE_FEE\t'],inplace=True)

C:\Users\JOKER\AppData\Local\Temp\ipykernel_12596\3436478268.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['SERVICE_FEE\t'],inplace=True)

In [77]:
df

,NAME,HOST_ID,HOST_IDENTITY_VERIFIED,HOST_NAME,NEIGHBOURHOOD_GROUP,NEIGHBOURHOOD,LAT,LONG,COUNTRY,COUNTRY_CODE,INSTANT_BOOKABLE,CANCELLATION_POLICY,ROOM_TYPE,CONSTRUCTION_YEAR,PRICE,SERVICE_FEE,MINIMUM_NIGHTS,NUMBER_OF_REVIEWS,LAST_REVIEW
0,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,FALSE,strict,Private room,2020,966,193,10,9,10/19/2021
1,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,FALSE,moderate,Entire home/apt,2007,142,28,30,45,5/21/2022
2,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,,Elise,Manhattan,Harlem,40.80902,-73.9419,United States,US,TRUE,flexible,Private room,2005,620,124,3,0,
3,,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,TRUE,moderate,Entire home/apt,2005,368,74,30,270,7/5/2019
4,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,FALSE,moderate,Entire home/apt,2009,204,41,10,9,11/19/2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,SpaHa Loft: Enormous and Bright,27952493551,,Adelaide,Manhattan,East Harlem,40.80164,-73.93922,United States,US,FALSE,flexible,Entire home/apt,2017,524,105,4,190,6/23/2019
72,Lovely EV Artist's Home,90314634438,unconfirmed,Reid,Manhattan,East Village,40.72162,-73.98008,United States,US,FALSE,moderate,Entire home/apt,2019,238,48,9,49,5/14/2018
73,Cool Room in Hell's Kitchen,44843744875,verified,Charlie,Manhattan,Hell's Kitchen,40.76342,-73.98865,United States,US,FALSE,moderate,Private room,2017,603,121,7,23,6/1/2019
74,"HARLEM, NEW YORK WELCOMES YOU!!",98195975718,,Violet,,Washington Heights,40.83139,-73.94095,United States,US,TRUE,moderate,Private room,2011,571,114,2,49,6/18/2019
75,BLUE TRIM GUEST HOUSE,4726877402,unconfirmed,Audrey,,Clinton Hill,40.68346,-73.96374,United States,US,TRUE,strict,Private room,2014,398,80,2,105,6/26/2019

In [89]:
type(df["PRICE"])

pandas.core.series.Series

In [91]:
df["PRICE"].astype(int)

0     966
1     142
2     620
3     368
4     204
     ...
71    524
72    238
73    603
74    571
75    398
Name: PRICE, Length: 76, dtype: int32

In [181]:
df.columns

Index(['NAME', 'HOST_ID', 'HOST_IDENTITY_VERIFIED', 'HOST_NAME',
       'NEIGHBOURHOOD_GROUP', 'NEIGHBOURHOOD', 'LAT', 'LONG', 'COUNTRY',
       'COUNTRY_CODE', 'INSTANT_BOOKABLE', 'CANCELLATION_POLICY', 'ROOM_TYPE',
       'CONSTRUCTION_YEAR', 'PRICE', 'SERVICE_FEE', 'MINIMUM_NIGHTS',
       'NUMBER_OF_REVIEWS', 'LAST_REVIEW'],
      dtype='object')

In [93]:
df.columns

Index(['NAME', 'HOST_ID', 'HOST_IDENTITY_VERIFIED', 'HOST_NAME',
       'NEIGHBOURHOOD_GROUP', 'NEIGHBOURHOOD', 'LAT', 'LONG', 'COUNTRY',
       'COUNTRY_CODE', 'INSTANT_BOOKABLE', 'CANCELLATION_POLICY', 'ROOM_TYPE',
       'CONSTRUCTION_YEAR', 'PRICE', 'SERVICE_FEE', 'MINIMUM_NIGHTS',
       'NUMBER_OF_REVIEWS', 'LAST_REVIEW'],
      dtype='object')

In [117]:
df_to_int=['CONSTRUCTION_YEAR','PRICE', 'SERVICE_FEE', 'MINIMUM_NIGHTS',
       'NUMBER_OF_REVIEWS',]

In [129]:
import numpy as np
for col in df_to_int:
    df[col] = df[col].replace('', np.nan)
    
    df[col] = pd.to_numeric(df[col], errors='coerce').astype('Int64')

C:\Users\JOKER\AppData\Local\Temp\ipykernel_12596\516734091.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].replace('', np.nan)
C:\Users\JOKER\AppData\Local\Temp\ipykernel_12596\516734091.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = pd.to_numeric(df[col], errors='coerce').astype('Int64')

In [143]:
df['LAST_REVIEW']=df['LAST_REVIEW'].replace(" ","")
df['LAST_REVIEW']=pd.to_datetime(df['LAST_REVIEW'] , format='%m/%d/%Y')

C:\Users\JOKER\AppData\Local\Temp\ipykernel_12596\2919233830.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LAST_REVIEW']=df['LAST_REVIEW'].replace(" ","")
C:\Users\JOKER\AppData\Local\Temp\ipykernel_12596\2919233830.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LAST_REVIEW']=pd.to_datetime(df['LAST_REVIEW'] , format='%m/%d/%Y')

In [151]:
col=['LAT','LONG']
df[col]=df[col].apply(pd.to_numeric)

C:\Users\JOKER\AppData\Local\Temp\ipykernel_12596\2028548154.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col]=df[col].apply(pd.to_numeric)

In [165]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NAME                    76 non-null     object
 1   HOST_ID                 76 non-null     object
 2   HOST_IDENTITY_VERIFIED  76 non-null     object
 3   HOST_NAME               76 non-null     object
 4   NEIGHBOURHOOD_GROUP     76 non-null     object
 5   NEIGHBOURHOOD           76 non-null     object
 6   LAT                     76 non-null     float64
 7   LONG                    76 non-null     float64
 8   COUNTRY                 76 non-null     object
 9   COUNTRY_CODE            76 non-null     object
 10  INSTANT_BOOKABLE        76 non-null     object
 11  CANCELLATION_POLICY     76 non-null     object
 12  ROOM_TYPE               76 non-null     object
 13  CONSTRUCTION_YEAR       76 non-null     Int64
 14  PRICE                   76 non-null     Int64
 15  SERVICE_FEE             71 non-null     Int64
 16  MINIMUM_NIGHTS          66 non-null     Int64
 17  NUMBER_OF_REVIEWS       76 non-null     Int64
 18  LAST_REVIEW             70 non-null     datetime64[ns]
dtypes: Int64(5), datetime64[ns](1), float64(2), object(11)
memory usage: 11.8+ KB

In [155]:
df

,NAME,HOST_ID,HOST_IDENTITY_VERIFIED,HOST_NAME,NEIGHBOURHOOD_GROUP,NEIGHBOURHOOD,LAT,LONG,COUNTRY,COUNTRY_CODE,INSTANT_BOOKABLE,CANCELLATION_POLICY,ROOM_TYPE,CONSTRUCTION_YEAR,PRICE,SERVICE_FEE,MINIMUM_NIGHTS,NUMBER_OF_REVIEWS,LAST_REVIEW
0,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,FALSE,strict,Private room,2020,966,193,10,9,2021-10-19
1,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,FALSE,moderate,Entire home/apt,2007,142,28,30,45,2022-05-21
2,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,TRUE,flexible,Private room,2005,620,124,3,0,NaT
3,,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,TRUE,moderate,Entire home/apt,2005,368,74,30,270,2019-07-05
4,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,FALSE,moderate,Entire home/apt,2009,204,41,10,9,2018-11-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,SpaHa Loft: Enormous and Bright,27952493551,,Adelaide,Manhattan,East Harlem,40.80164,-73.93922,United States,US,FALSE,flexible,Entire home/apt,2017,524,105,4,190,2019-06-23
72,Lovely EV Artist's Home,90314634438,unconfirmed,Reid,Manhattan,East Village,40.72162,-73.98008,United States,US,FALSE,moderate,Entire home/apt,2019,238,48,9,49,2018-05-14
73,Cool Room in Hell's Kitchen,44843744875,verified,Charlie,Manhattan,Hell's Kitchen,40.76342,-73.98865,United States,US,FALSE,moderate,Private room,2017,603,121,7,23,2019-06-01
74,"HARLEM, NEW YORK WELCOMES YOU!!",98195975718,,Violet,,Washington Heights,40.83139,-73.94095,United States,US,TRUE,moderate,Private room,2011,571,114,2,49,2019-06-18
75,BLUE TRIM GUEST HOUSE,4726877402,unconfirmed,Audrey,,Clinton Hill,40.68346,-73.96374,United States,US,TRUE,strict,Private room,2014,398,80,2,105,2019-06-26

In [ ]:
#loading data into snowflake
print("Loading data into Snowflake...")    
conn = snowflake.connector.connect(
        user="SAIKUMAROFFCL",
        password="***********7",
        account="***********7",
        warehouse="COMPUTE_WH",
        database="DEMO_DB",
        schema="PUBLIC"
)

cs = conn.cursor()
print("connection established")

Loading data into Snowflake...
connection established

In [185]:
  cs.execute("""
CREATE OR REPLACE TABLE AIRBNB_LISTINGS (
    NAME STRING,
    HOST_ID STRING,
    HOST_IDENTITY_VERIFIED STRING,
    HOST_NAME STRING,
    NEIGHBOURHOOD_GROUP STRING,
    NEIGHBOURHOOD STRING,
    LAT FLOAT,
    LONG FLOAT,
    COUNTRY STRING,
    COUNTRY_CODE STRING,
    INSTANT_BOOKABLE STRING,
    CANCELLATION_POLICY STRING,
    ROOM_TYPE STRING,
    CONSTRUCTION_YEAR NUMBER(4,0),
    PRICE NUMBER(10,2),
    SERVICE_FEE NUMBER(10,2),
    MINIMUM_NIGHTS NUMBER(10,0),
    NUMBER_OF_REVIEWS NUMBER(10,0),
    LAST_REVIEW STRING
);""")

    
    # Load data into Snowflake (using write_pandas)
from snowflake.connector.pandas_tools import write_pandas
success, nchunks, nrows, _ = write_pandas(conn, df[['NAME', 'HOST_ID', 'HOST_IDENTITY_VERIFIED', 'HOST_NAME',
       'NEIGHBOURHOOD_GROUP', 'NEIGHBOURHOOD', 'LAT', 'LONG', 'COUNTRY',
       'COUNTRY_CODE', 'INSTANT_BOOKABLE', 'CANCELLATION_POLICY', 'ROOM_TYPE',
       'CONSTRUCTION_YEAR', 'PRICE', 'SERVICE_FEE', 'MINIMUM_NIGHTS',
       'NUMBER_OF_REVIEWS', 'LAST_REVIEW']], 'AIRBNB_LISTINGS')
print(f"✅ Loaded {nrows} rows into Snowflake table 'AIRBNB_LISTINGS'.")
    
cs.close()
conn.close()

✅ Loaded 76 rows into Snowflake table 'AIRBNB_LISTINGS'.